# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# --- Base de datos ---
inventario.db

# --- Archivos temporales ---
*.log
*.tmp

# --- VS Code ---
.vscode/

# --- Archivos del sistema (Windows / Mac) ---
Thumbs.db
.DS_Store
